:root {
    scroll-behavior: smooth;
    --reveal_opacity: 0;
    --head: 1.8rem;
    --normal: 1.2rem;
    --big: 4rem;
    --verybig: 7rem;
    --highlight: 600;
    --text_head: hsl(0, 0%, 0%);
    --text_info: hsl(0, 0%, 60%);
    --text_detail: hsl(0, 0%, 15%);
}
.view_form_bottom {
    opacity:var(--reveal_opacity);
    transition:all .8s ease;
    transform:translateY(20px);
}

header {
    .border {
        border: none;
    }

    .container {
        .head-con {
            .head-wrap {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2rem;
                margin-top: 3rem;

                .head-text {
                    p {
                        margin: 0;
                        font-size: var(--head);
                        text-decoration: underline;
                    }

                    h3 {
                        font-size: var(--big);
                    }
                }

                .head-info {
                    p {
                        font-size: var(--normal);
                        margin: 0;
                    }

                    .more-info {
                        margin-top: 4rem;

                        p {
                            color: var(--text_info)
                        }
                    }
                }
            }
        }
    }
}

main {
    .container {
        article {
            .figure-wrap {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding:1rem;
                gap:1rem;
                /* border:1px solid red; */
            }

            figure:nth-child(3) {
                filter:blur(5px);
            }

            img
             {
                max-height: 800px;
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
                object-position: center bottom;
                aspect-ratio: 3/4;
            }
        }
        .line {
            height:3px;
            margin-top:20px;
            background:var(--text_info)
        }

        .card-wrap {
            display:grid;
            /* grid-template-columns: repeat(auto-fit ,minmax(300px ,1fr)); */
            grid-template-columns:1fr 1fr 1fr;
            margin-top:5rem;
            gap:1rem;
            .card {
                margin:0;
                figure {
                    display:block;
                    img {
                        max-height:400px;
                        width:100%;
                        object-fit:cover;
                    }
                }
                figure:hover img {
                    opacity:0.8;
                }
                figure:nth-child(2) {
                    img { 
                        background:rgba(0,0,0,0.7);
                        z-index:99;
                    }
                }
            }
        }
        .connect {
            margin-top:6rem;
        }
        .other {
            margin-top:2rem;
            h2 {
                font-size:clamp(3rem,2rem + 3vw,6rem);
                font-weight:100;
                color:rgb(65, 17, 17);
            }
        }
    }
}

@media (max-width:1280px) {
    header {
        .container {
            .head-con {
                .head-wrap {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}

@media (max-width:799px) {
    main {
        .container {
            article {
                .figure-wrap {
                    grid-template-columns: 1fr;
                }
            }
            .other {
                .card-wrap {
                    grid-template-columns:1fr;
                }
            }
        }
    }
}